#hm-slider .mdl-selectfield__label {
    bottom: 0;
    color: rgba(0,0,0, 0.26);
    font-size: 17px;
    left: 18px;
    right: 0;
    pointer-events: none;
    position: absolute;
    display: block;
    top: 27px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}

#medical-centers-page .doctor-descreiption{
    text-align: left;
    padding: 0px 10px;
}

.float{
    float: left!important;
}

.float-rev{
    float: right!important;
}

.fa-chevron-rl:before {
    content: "\f054";
}

#hm-slider i.hm-angle-down {
    float: right!important;
    right: 11px!important;
}

.hdr-logo {
    display: inline-block!important;
    float: right!important;
    margin: 6px 0 2px 0px!important;
}